PORT=5000

FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=dzdy7eadv
CLOUDINARY_API_KEY=183641464886168
CLOUDINARY_SECRET_KEY=TDLZa-RuDIAYJwQzI1VLKMcHBNY

MONGO_URL=mongodb+srv://patidarabhay1996_db_user:Abhay9784@cluster0.7fqxhrq.mongodb.net/

JWT_SECRET_KEY=387rfhre843red7d743rhf74rhfd
JWT_EXPIRE=7d
COOKIE_EXPIRE=7

GROQ_API_KEY=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

JD_CACHE_TTL_MS=900000
JD_CACHE_MAX_ENTRIES=100