.footer {
  background-color: var(--bgpurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.f-social-info {
  font-size: 30px;
  color: var(--textwhite);
  display: flex;
  gap: 15px;
}

.f-info-links a {
  color: var(--textwhite);
  text-decoration: none;
}

.f-tag {
  color: var(--textwhite);
}

.f-info-links a:hover {
  text-decoration: underline;
}
